@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap');

:root {
  --main-btn-width: 150px;
  --main-btn-color: #7effd4;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #040d21;
}

* {
  font-family: 'Oswald', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
  margin: 0;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
}

img {
  max-width: 100%;
}

h1 {
  margin: 0;
}

.index-body {
  overflow: hidden;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: var(--main-btn-width);
  margin: 0 auto;
}

.main-btn {
  position: absolute;
  width: var(--main-btn-width);
  background-color: var(--main-btn-color);
  padding: 15px 20px;
  text-align: center;
  font-size: 1.2rem;
}

.none {
  display: none;
}

.body-newYearCard {
  background-color: #040d21;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.tree-button {
  width: var(--main-btn-width);
  background-color: var(--main-btn-color);
  padding: 15px 20px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'Oswald';
}

.text-cont {
  font-family: 'Oswald';
  color: #a170fe;
}

.happy-new-year {
  transition: opacity 0.3s;
}

.reciver {
  transition: opacity 0.3s;
}

.geralt-wrapper {
  position: relative;
  padding-top: 50px;
  overflow: hidden;
}

.santa-header {
  position: absolute;
  width: 86px;
  top: 27px;
  left: 43px;
  transform: translateY(-200%);
  transition: transform .8s cubic-bezier(.39,.54,.36,1.02);
  z-index: 1;
}

.santa-header--no-owner {
  top: 4px;
}

.geralt-img {
  width: 200px;
  transition: transform .8s cubic-bezier(.39,.54,.36,1.02);
}

.geralt-img--hidden {
  transform: translateY(105%)
}

.opacity {
  opacity: 0;
}